body{
    background-color: aquamarine;
    font-size: 15px;
}

#survey-form{

background-color: aliceblue;
margin: 100px;
padding: 20px;
display: flex;
flex-direction: column;

}

#description{
    text-align: center;
    font-size: 2em;
}
h1{
    text-align: center;
    font-size: 40px;
    color: black;
}

#submit{
    margin-top: 10px;
    color:aqua;
    height: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 20px;

}